
@mixin modal() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.calendar {

  &__modal {

    @include modal;
    z-index: 9;
    align-items: center;
    justify-content: center;

    &__background {

      @include modal;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &__content {

      z-index: 999;
      background-color: #ffffff;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
      height: 360px;
      width: 320px;
      border-radius: 8px;
      padding: 24px;
    }
  }
}